name: Go
on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'

# TODO - can we integrate the browser test to run parallel, and somehow have the
# shared workflow wait for it? e.g pass in a job to wait for or something.

jobs:
  build:
    uses: lstoll/actions-workflows/.github/workflows/go-docker.yaml@main
    with:
      image: ghcr.io/lstoll/webauthn-oidc-idp
    permissions:
      contents: read
      packages: write
